version: 2.1
workflows:
  version: 2
  build_and_publish:
    jobs:
      - build:
          filters:
            tags:
              only: /.*/
      - publish:
          requires:
            - build
          filters:
            tags:
              only: /[0-9]+(\.[0-9]+)*/
            branches:
              ignore: /.*/
jobs:
  build:
    machine:
      image: ubuntu-2004:202010-01
    steps:
      - checkout
      - run:
          name: Install python versions
          command: |
            git clone git://github.com/pyenv/pyenv-update.git $(pyenv root)/plugins/pyenv-update
            pyenv update
            pyenv install 3.6.15 
            pyenv install 3.7.13 
            pyenv install 3.8.13 
            pyenv install 3.9.13 
            pyenv install 3.10.4
            pyenv local 3.6.15 3.7.13 3.8.13 3.9.13 3.10.4
      - restore_cache:
          keys:
            - v2-dependencies-{{ checksum "dev-requirements.txt" }}
      - run:
          name: Install dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install -U pip
            pip install -r dev-requirements.txt
      - save_cache:
          paths:
            - venv
          key: v2-dependencies-{{ checksum "dev-requirements.txt" }}
      - run:
          name: Lint code
          command: |
            . venv/bin/activate
            flake8
      - run:
          name: Run tests
          command: |
            . venv/bin/activate
            tox
  publish:
    machine:
      image: ubuntu-2004:202010-01
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            pyenv local 3.7.0
            python3 -m venv venv
            . venv/bin/activate
            pip install sdist wheel twine
      - run:
          name: Verify version matches git tag
          command: |
            . venv/bin/activate
            python setup.py verify
      - run:
          name: Build package
          command: |
            . venv/bin/activate
            python setup.py sdist
            python setup.py bdist_wheel
      - run:
          name: Upload to PyPI
          command: |
            echo $'[distutils]\nindex-servers = pypi\n[pypi]' > ~/.pypirc
            echo "username = __token__" >> ~/.pypirc
            echo "password = $PYPI_API_TOKEN" >> ~/.pypirc
            . venv/bin/activate
            twine upload dist/*
